
@font-face {
    font-family: 'Dongle Bold';
    src: url(../fonts/Dongle-Bold.ttf);
}

@font-face {
    font-family: 'Dongle Regular';
    src: url(../fonts/Dongle-Regular.ttf);
}




h1{
    font-family: 'Dongle Bold';
    font-size: 60px;
}

section{
    width: 800px;
    height: 120px;
}

.section01{
    background-color: orange;
}


.section02{
    background-color: palegoldenrod;

}


.section03{
    background-color: pink;
    position: relative;
    animation-name: section03-animation;
    animation-duration: 3s;
    animation-direction: alternate;
    margin-left: 50%;
    text-wrap: nowrap;
    height: 80px;
    width: fit-content;
     
}


.container{
    padding-bottom: 10px;
}

p{
    font-family: 'Dongle Regular';
    font-size: 18px;
    padding: 35px;
}


@keyframes section03-animation {
     0%{
       margin-left: 0;
       height: 120px;
       text-wrap: wrap;
     }100%{
        margin-left: 50%;
     }
   }
